.modal {
  position: fixed;
  z-index: 99990;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content ul {
  text-align: left;
}

.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -10px;
}

.close:hover {
  color: #777;
}

.dark-mode .modal-content {
  background-color: #2a2a2a;
  color: #ccc;
}

.dark-mode .close {
  color: #ccc;
}
